# Maven build
target/

# TestNG Reports
test-output/

# Extent Reports (optional because it's already inside test-output)
test-output/ExtentReport/

# Screenshots
test-output/Screenshots/

# Eclipse
.project
.classpath
.settings/

# macOS
.DS_Store