
# TestNG Reports
test-output/

# Maven target folder
target/

# Eclipse files

# Maven build
target/

# TestNG Reports
test-output/

# Extent Reports (optional because it's already inside test-output)
test-output/ExtentReport/

# Screenshots
test-output/Screenshots/

# Eclipse

.project
.classpath
.settings/

# macOS files
# macOS
.DS_Store